# 파이썬 관련
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/

# 데이터 디렉토리
data/
logs/

# IDE 관련
.idea/
.vscode/
*.swp
*.swo

# 운영체제 관련
.DS_Store
Thumbs.db

device_scripts/
tasks/
